module "aws_vpc" {
  source             = "./modules/aws/vpc"
  aws_region         = "us-east-1"
  aws_az_name        = "us-east-1a"
  aws_vpc_cidr_block = "192.168.0.0/16"
  aws_vpc_name       = "myVPC"
  custom_tags        = {
    Name  = "my_vpc"
    Owner = "c.klewar@f5.com"
  }
}